*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 1rem;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    background: linear-gradient(yellow,orange, rgb(255, 157, 174),purple, blue);
    padding: .2rem;
}